body{
    text-align:center;
    background-color: green;
    animation-name: background;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

whitespace {
    font-size: 200px;
    text-align:center;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

box {
    width: 294px;
    height: 174px;
}

top {
    position: absolute;
    bottom: 66%;
    right: 25%;
    left: 25%;
    height: 33%;
}

bottom {
    position: absolute;
    top: 66%;
    right: 25%;
    left: 25%;
    height: 33%;
}

left {
    position: absolute;
    left: 0%;
    top: 33%;
    bottom: 33%;
    height: 33%;
    width: 25%;
}

topleft {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 33%;
    width: 25%;
}

bottomleft {
    position: absolute;
    left: 0%;
    bottom: 0%;
    height: 33%;
    width: 25%;
}

right {
    position: absolute;
    right: 0%;
    top: 33%;
    bottom: 33%;
    height: 33%;
    width: 25%;
}

topright {
    position: absolute;
    right: 0%;
    top: 0%;
    height: 33%;
    width: 25%;
}

bottomright {
    position: absolute;
    right: 0%;
    bottom: 0%;
    height: 33%;
    width: 25%;
}

button {
    position:absolute;
    top: 33%;
    left: 25%;
    bottom: 33%;
    right: 25%;
    color:red;
    font-size: xx-large;
    border-color: blue;
    background-color: pink;
    animation-duration: 700ms;
    animation-name: button;
    animation-iteration-count: infinite;
}


@keyframes button {
    0%{background-color: blue; border-color: pink}
    50%{background-color: pink; border-color: blue}
    100%{background-color: blue; border-color: pink}
}

@keyframes background {
    0%{background-color: green;}
    50%{background-color: yellowgreen;}
    100%{background-color: green;}
}

@keyframes yummy {
    0%{font-size:1px}
    100%{font-size:200px}
}